# # /test_pipeline/test_components/
# /testPipeline/metadata/*
# /testPipeline/pipelines/*
# /test_pipeline/testPipeline/metadata/*
# /test_pipeline/testPipeline/serving_model/*
# !/test_pipeline/testPipeline/metadata/.gitkeep
# !/test_pipeline/testPipeline/pipelines/.gitkeep
# /coverage_report/*
# !/coverage_report/index.html
