env/
.vscode/

# Jupyter Notebook
.ipynb_checkpoints

.env

# *.csv
*.gz
*.sqlite
*.db
*.pbtxt
*.pb
*.log
MANIFEST
stats_tfrecord

.pyc
__pycache__/
*variables.*


./notebooks/pipeline_test/*
./tests/coverage_report
/tfx_pipeline_output/metadata/*
/tfx_pipeline_output/metadata/*

/test/pipeline/testPipeline/pipelines/local_pipeline/*
./test/pipeline/testPipeline/pipelines/local_pipeline/*

/test/pipeline/testPipeline/metadata/local_pipeline/*
./test/pipeline/testPipeline/metadata/local_pipeline/*

nohup.out
htmlcov/
.pytest_cache/
*.DS_Store
*.tar.gz
