env/
.vscode/

# Jupyter Notebook
.ipynb_checkpoints

.env

# *.csv
*.gz
*.sqlite
*.db
*.pbtxt
*.pb
*.log
MANIFEST
stats_tfrecord

.pyc
__pycache__/
*variables.*


./notebooks/pipeline_test/*
./tests/coverage_report

nohup.out
htmlcov/
.pytest_cache/
*.DS_Store
*.tar.gz
